@model List<Pizza>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Pizza> pizza = new List<Pizza>()
    {
        new Pizza("Margherita", "Pomodoro & Mozzarella Buona", "https://static.cookist.it/wp-content/uploads/sites/21/2018/04/pizza-margherita-fatta-in-casa.jpg", 4)
    };
}


<div class="text-center">

    @section SubTitle {
        <h1 class="text-center">Menù</h1>
    }
    <!--Delete Confirm-->
    @if (ViewData["message"] != null)
    {
        <p>@ViewData["message"]</p>
    }
    <section class="container">
        @if (User.IsInRole("ADMIN"))
        {
            <div class="nav-item btn btn-dark rounded-pill py-0 px-3 text-light mb-3">
                <a class="nav-link text-light fw-bolder" asp-area="" asp-controller="Menu" asp-action="Create">Create Pizza</a>
            </div>
        }
        @if(Model.Count > 0)
        {
            <ul class="cards row-cols-1 row-cols-md-2 row-cols-lg-3 d-flex flex-wrap">
                @foreach(var y in Model)
                {
                    <li class="card shadow">
                        <div>
                            <!--Image-->
                            <div class="card_image rounded">
                                <img class="rounded" src="@y.Image" alt="mixed vegetable salad in a mason jar. ">
                            </div>
                            <div class="card_content">
                                <h2 class="card_title">@y.Nome &#x2022; $@y.Price</h2>
                                <div class="card_text">
                                    <p>@y.Descrizione</p>
                                </div>

                               
                                <div class="d-flex justify-content-around">
                                    @if (User.IsInRole("ADMIN"))
                                    {
                                        <!--Edit-->
                                        <a class="btn btn-dark shadow rounded-pill py-2 px-3" href="@Url.Action("Edit", "Menu", new {id = y.Id})">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                    }

                                    <!--View-->
                                    <a class="position-absolute end-0 top-0 btn btn-dark shadow rounded-pill py-2 px-3" href="@Url.Action("Details", "Menu", new {id = y.Id})">
                                        <i class="fa-regular fa-eye"></i>
                                    </a>

                                    @if (User.IsInRole("ADMIN"))
                                    {
                                        <!--Delete-->
                                        <form asp-controller="Menu" asp-action="Delete" asp-route-id="@y.Id" method="post">

                                            @Html.AntiForgeryToken()
                                            <button type="submit" class="btn btn-danger shadow rounded-pill py-2 px-3">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>

                                        </form> 
                                    }
                                </div>

                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
        else
        {
            <h1>Not Found 404</h1>
        }
    </section>
</div>
